.btn-denim:hover{
  color: #ff0;
  border-style: solid;
  opacity: 0.6;
}

.flex-item{
    width: 300px;
      height: 200px;
  text-align: center;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.flex-item {
  margin: 0 3em 3em;
  flex-basis: 30%;
}

@media screen and (max-width: 780px) {
  .flex-container {
    flex-direction: column;
  }
}
